@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

.create-group-p {
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  margin-right: 30px;
  color: #707070;
  padding: 10px 0 10px 0;
}

.dialog-container {
    flex-direction: column;
    position: relative;
}

.textfield-container {
    display:flex;
}

.image {
    width: 150px;
    height: auto;
}

.image-container {
    position: absolute;
    top: 0px;
    right: 50px;
}
