/* Whole Chat Box */
.chat-container {
        display: grid;
        grid-template-columns: 1fr 20fr;
        max-width: 100vw;
        height: 100vh;
        background: #ffffff;
}

/* end .chat-container */

/* For group Dash */
.chat-container-2 {
        display: grid;
        grid-template-columns: 1fr 20fr 7fr;
        max-width: 100vw;
        height: 100vh;
        background: #EAF0FC;
}

/* Top of Message Box with Group Name and Course Info */
.dash-header {
        border-bottom: 1px solid #bec6c3;
        padding: 1em;
        margin: 1em;
}

/* Chatroom sidebar and message container  */
.chat-main {
        display: grid;
        grid-template-columns: 15fr 4fr;
        min-height: 45vh;
        background-color: #EAF0FC;
}

/* end .chat-main */

/* Message Area */
.chat-messages {
        padding: 1em;
        min-height: 60vh;
        max-height: 60vh;
        overflow-y: auto;
}

/* end .chat-messages */

/* Contains H2, Smaller screen Leave Button, Message Display */
.chat-form-message-area .btn {
        display: none;
        float: right;
        margin: 1em;
}

/* end .chat-form-message-area .btn */

/* Message Text Box Background */
.chat-messages .message {
        padding: 1em;
        margin-bottom: 1em;
        background-color: #FFFFFF;
        border-radius: 5px;
}

/* end .chat-messages .message */

/* Message Text Box Contents */
.chat-messages .message .meta {
        font-size: 1em;
        font-weight: bold;
        color: #000000;
        opacity: 0.7;
        margin-bottom: 0.5em;
}

/* end .chat-messages .message .meta */

/* Message Time */
.chat-messages .message .meta span {
        color: #75A8CB;
}

/* end .chat-messages .message .meta span */

/* Bottom Message Bar */
.chat-form-container {
        padding: 1em 1em;
}

/* end .chat-form-container */

/* 'Send' button */
.send-btn {
        background: #fff;
        border: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
}

/* Image used for 'Send' button */
.send-icon {
        cursor: pointer;
        background: #fff;
        height: 2em;

}

/* Message Input Bar */
.chat-form-container form {
        display: flex;
}

/* end .chat-form-container form */


/* Message Input Bar Input */
.chat-form-container input {
        font-size: 1em;
        padding: 0.5em;
        height: 2em;
        min-width: 70%;
        flex: 1;
}

/* end .chat-form-container input */


/* Change layout for smaller screens */
@media only screen and (max-width: 700px) {

        /* Change content from grid to block */
        .chat-main {
                display: block;
        }

        /* end .chat-main */

        /* Remove padding from user input bar */
        .chat-form-container {
                padding: 0;
        }

        /* end .chat-form-container */

        /* Remove padding from user input bar */
        .chat-container {
                display: block;
                height: auto;
        }

        /* end .chat-form-container */

        /* Remove padding from user input bar */
        .chat-container-2 {
                display: block;
                height: auto;
                padding: 0px;
        }

        /* end .chat-form-container */

        /* Show res-Leave Button */
        .chat-form-message-area .btn {
                display: block;
                margin: auto;
        }

        /* end .chat-form-message-area .btn */

        /* Message Input Bar Input */
        .chat-form-container input {
                margin: auto;
        }

        /* end .chat-form-container input */
}

/* end media */
