/* Top of Message Box with Group Name and Course Info */
.dash-header {
        border-bottom: 1px solid #bec6c3;
        padding: 1em;
        margin: 1em;
}

/* Chatroom sidebar and message container  */
.chat-main {
        display: grid;
        grid-template-columns: 15fr 4fr;
        min-height: 45vh;
        background-color: #EAF0FC;
}

/* Message Area */
.chat-messages {
        padding: 1em;
        min-height: 60vh;
        max-height: 60vh;
        overflow-y: auto;
}

/* Contains H2, Smaller screen Leave Button, Message Display */
.chat-form-message-area .btn {
        display: none;
        float: right;
        margin: 1em;
}

/* Message Text Box Background */
.chat-messages .message {
        padding: 1em;
        margin-bottom: 1em;
        background-color: #FFFFFF;
        border-radius: 5px;
}

/* Message Text Box Contents */
.chat-messages .message .meta {
        font-size: 1em;
        font-weight: bold;
        color: #000000;
        opacity: 0.7;
        margin-bottom: 0.5em;
}

/* Message Time */
.chat-messages .message .meta span {
        color: #75A8CB;
}

/* Bottom Message Bar */
.chat-form-container {
        padding: 1em 1em;
}

/* 'Send' button */
.send-btn {
        background: #fff;
        border: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
}

/* Image used for 'Send' button */
.send-icon {
        cursor: pointer;
        background: #fff;
        height: 2em;

}

/* Message Input Bar */
.chat-form-container form {
        display: flex;
}

/* Message Input Bar Input */
.chat-form-container input {
        font-size: 1em;
        padding: 0.5em;
        height: 2em;
        min-width: 70%;
        flex: 1;
}

.menu-bar-pos {
  text-align: right;
}

.menu-bars {
  display: none;
}

.close-btn-pos {
  text-align: right;
  background: #394b58;
}

.close-sidebar {
  color: #EAF0FC;
  background: #394b58;
}

/* Change layout for smaller screens */
@media only screen and (max-width: 700px) {

        /* Change content from grid to block */
        .chat-main {
                display: block;
        }

        /* Remove padding from user input bar */
        .chat-form-container {
                padding: 0;
        }

        /* Remove padding from user input bar */
        .chat-container {
                display: block;
                height: auto;
        }

        /* Remove padding from user input bar */
        .chat-container-2 {
                display: block;
                width: 100%;
                padding: 0px;
        }

        /* Show res-Leave Button */
        .chat-form-message-area .btn {
                display: block;
                float: none;
                margin: auto;
        }

        /* Message Input Bar Input */
        .chat-form-container input {
                margin: auto;
        }

        .dash-header {
          border-bottom: 1px solid #bec6c3;
          padding: 0.5em;
          margin: 0em;
        }

        .dash-header h2 {
          font-size: 1em;
          padding: 0em;
          margin: 0em;
        }

        .dash-header p {
          font-size: 1em;
          padding: 0em;
          margin: 0em;
        }

        .chat-messages {
                width: 100%;
                min-height: 60vh;
                max-height: 60vh;
        }

        .menu-bars {
          display: block;
          padding: 1em;
        }
}
