/* Sidebar 'Members', 'Channels', 'Meetings' sections */
.dash-section {
        border-top: 1px solid #FFFFFF;
        overflow-y: auto;
}

.title {
        font-size: 1.17em;
        margin-bottom: 0;
        font-family: 'Quicksand', sans-serif;
    font-weight: 100;
}

/* 'Members', 'Channels', 'Meetings' and '+' adjustments*/
.sidebar-component {
        display: grid;
        grid-template-columns: 5fr 1fr;
}

/* Chatroom sidebar internal box */
.chat-sidebar {
        display: grid;
        grid-template-rows: 1fr 2fr 2fr 2fr;
        background: #394B58;
        color: #FFFFFF;
        padding: 2em;
}

/* Invite Button */
.chat-sidebar .btn {
        margin: 1.5em;
        text-decoration: none;
        color: #ffffff;
        background: #75a8cb;
        padding: 0.5em 2em;
        border: none;
}

/* Invite Button selected and hover styling */
.chat-sidebar .btn:hover, .btn:selected {
  color: #EAF0FC;
  background: #0770a3;
}

/* Chatroom sidebar internal box */
.res-chat-sidebar {
        display: none;
        background: #394B58;
        color: #FFFFFF;
        padding: 2em;
        height: 96.4vh;
}

/* Invite Button */
.res-chat-sidebar .btn {
        text-decoration: none;
        color: #ffffff;
        background: #75a8cb;
        padding: 0.5em 2em;
        border: none;
}

/* Invite Button selected and hover styling */
.res-chat-sidebar .btn:hover, .btn:selected {
  color: #EAF0FC;
  background: #0770a3;
}

/* Invite Button position */
.invite-button-position {
    text-align: center;
}

/* '+' Button styleing in sidebar */
.chat-sidebar .sidebar-component .btn {
        cursor: pointer;
        padding: 0em;
        margin: 0em;
        background: none;

}

/* '+' Button styleing in sidebar */
.res-chat-sidebar .sidebar-component .btn {
        cursor: pointer;
        padding: 0em;
        margin: 0em;
        background: none;

}

/* Change button color on mouse hover */
.sidebar-component .btn:hover {
        background: none;
}


/* Change layout for smaller screens */
@media only screen and (max-width: 700px) {

        /* Hide sidebar */
        .chat-sidebar {
                display: none;
        }

        /* Chatroom sidebar internal box */
        .res-chat-sidebar {
                display: grid;
                grid-template-rows: 1fr 2fr 2fr 2fr;
        }
}
